<div class="mb-3">
  <button class="btn btn-warning" (click)="openForm = !openForm">
    {{ openForm ? "Close" : "+ Add Item" }}
  </button>
  @if(openForm) {
  <app-add-product (emitAdd)="addProduct($event)" />
  }
</div>
<div class="mt-5 mb-5">
  <app-paginator />
</div>
<div class="mt-5 mb-5">
  <input type="text" class="form-control" #search placeholder="Search products..." [formControl]="searchInput">
</div>
<div class="container mt-5">
  <div class="grid">
    @for (prod of productList; track prod.id) {
    <app-product [product]="prod" (btnClick)="delete(prod.id)" />
    }
  </div>
</div>
