<div class="mb-3">
  <button class="btn btn-warning" (click)="openForm = !openForm">
    {{ openForm ? "Close" : "+ Add Item" }}
  </button>
  @if(openForm) {
  <app-add-product (emitAdd)="addProduct($event)" />
  }
</div>
<div class="input-search mt-5 mb-5 form-control">
  <i class="bi bi-search"></i>
  <input
  type="text"
  #search
  placeholder="Search products..."
  [formControl]="searchInput"
  />
</div>
<div class="container mt-5">
  <div class="grid">
    @for (prod of productList; track prod.id) {
    <app-product [product]="prod" (btnClick)="delete(prod.id)" />
    }
  </div>
</div>
<div class="mt-5 mb-5 d-flex justify-content-center">
  <app-paginator />
</div>
