<div style="width: 100%; height: 500px; margin-bottom: 200px">
  <h2>Pipes</h2>
  <h4>String Pipes</h4>
  <span
    >Initial Value: <b>{{ title }}</b></span
  >
  <br />
  <span>{{ title | uppercase }}</span>
  <span>{{ title | lowercase }}</span>
  <span>{{ title | titlecase }}</span>
  <span>{{ title | slice : 5 }}</span>
  <span>{{ title | slice : 5 : 11 }}</span>
  <br /><br />

  <h4>Number Pipes</h4>

  <span
    >Initial Value: <b>{{ number }}</b></span
  >
  <br />
  <span>{{ number | number : "2.3-8" }}</span>
  <span>{{ number | number : "2.3-8" }}</span>
  <span>{{ number | percent }}</span>
  <span>{{ number | currency : "EUR" }}</span>
  <br />

  <h4>Date Pipe</h4>
  <span>Initial Value: <b>{{ today }}</b></span>
  <br>
  <span>{{today | date }}</span>
  <span>{{today | date: 'long' }}</span>
  <span>{{today | date: 'short' }}</span>
  <span>{{today | date: 'shortTime' }}</span>
  <!-- <span>{{user | json }}</span> -->
  <h4>Custom Pipe</h4>
  <span> <b>{{longText}}</b></span>
  <span>{{ longText | truncate: 100 }}</span>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
