<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="https://cdn-icons-png.flaticon.com/512/5837/5837040.png" alt="e-shop" />
      <span class="fs-4">E-shop</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/main/about" routerLinkActive="active">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/main/survey" routerLinkActive="active">Rate Product</a></li>
    </ul>
</header>
