.card {
    position: relative;
    margin-bottom: 2rem;
    .stock {
        position: absolute;
        top: -12px;
        right: -22px;
        background-color: #e02222;
        border-radius: 10px;
        font-weight: bold;
        padding: 2px 8px;
        
    }
    img {
        max-height: 190px;
        height: 190px;
    }
    .card-body {
        min-height: 100px;
    }
    .price {
        padding: 2px 8px;
        background-color: #e49719;
        border-radius: 10px;
        font-weight: bold;
    }
}